<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <main>
    <div class="head">
        <h1>Add Products</h1>
    </div>
    <div class="form">
    <form method="POST" action="/admin/add-product">
        <label>Serial No.:</label>
        <input type="number" placeholder="Enter product serial no." name="serial">
        <label>Name:</label>
        <input type="text" placeholder="Enter name" name="name">
        <label>Customer Price:</label>
        <input type="number" placeholder="Enter customer price" name="cPrice">
        <label>Cost:</label>
        <input type="number" placeholder="Enter cost" name="cost">
        <select name="category">
            <% categories.forEach(category => { %>
            <option value="<%= category.id %>">
                <%= category.name %>
            </option>
                <% }) %>
        </select>
        <button type="submit">Add</button>
    </form>
    </div>
    </main>
</body>
</html>