* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
main {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}
.head h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.form form {
    background-color: white;
    width: 500px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
form label {
    font-size: 20px;
    margin: 5px 0px;
    font-weight: 700;
}
form input {
    height: 40px;
    border: 1px solid rgba(46, 46, 46, 0.655);
    border-radius: 8px;
    padding: 5px;
    width:100%;
    background-color: transparent;
    margin-bottom: 10px;
}
form select {
    height: 40px;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px;
}
form input::placeholder {
    color: rgb(59, 58, 58);
}
form button {
    background-color: rgb(0, 179, 255);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    border: 1px solid rgb(0, 179, 255);
}
@media (max-width:1000px) {
    .form form {
        width: 350px;
    }
}