body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px;
}
main h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 20px;
}
.content {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    gap: 30px;
}
.maker input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border:1px solid #ddd;
}
.maker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.left {
    flex:3;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.06);
}
h3 {
    font-weight: 700;
}
.right {
    height: fit-content;
    flex:1;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.06);
}
.left h3 {
    font-size:20px;
    font-weight:bold;
}
/* Dropdown Styling */
.product-picker {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
}

.add-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: #0d6efd;
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.product-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  opacity: 0;     /* Invisible */
  cursor: pointer;
}

.product-select:hover{
    border-color:#639ee1;
}

/* Product List Box */
.product-list div{
    background:#fafafa;
    border:1px solid #eee;
    padding:8px;
    margin-top:6px;
    border-radius:8px;
    font-size:15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* Remove Button */
.product-list button{
    border:none;
    background:#ff4d4f;
    color:white;
    padding:4px 10px;
    border-radius:6px;
    cursor:pointer;
}
.product-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#fafafa;
    border:1px solid #eee;
    padding:8px 12px;
    margin-top:6px;
    border-radius:8px;
    font-size:14px;
}
.right h3{
    border-bottom:1px solid #eee;
    padding-bottom:10px;
}
.product-row {
    align-items: center;
}
.right p{
    font-size:16px;
    margin:15px 0;
}
/* Download Button */
#btn{
    max-width:200px;
    padding:12px;
    background:#1890ff;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;
    transition:0.2s;
}
.btns {
    display: flex;
    gap: 20px;
}
#btn:hover{
    background:#0f7de0;
}
@media (max-width:1000px)
{
    main {
        padding: 5px;
    }
    .content {
        padding:10px;
        align-items: center;
    }
    .maker {
        width: 320px;
    }
}