* {
    font-family: Arial, Helvetica, sans-serif;
}
 main {
    background-color: aliceblue;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.content {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.form {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    overflow: auto;
}
.table {
    width: 700px; /* adjust based on your content */
    border-collapse: collapse;
}
.head {
    display: flex;
}
.content button {
    background-color: white;
    box-shadow:  2px 2px rgb(30, 30, 30);
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    width: 160px;
}
@media (max-width:600px)
{
    main {
        padding: 10px;
    }
    .table {
        border: 0;
        padding: none;
    }
    .table thead {
    display: none;
    }
    .table tr {
        display: block;
        position: relative;
        margin-bottom: 18px;
        border: none;
        padding: none;
        background: #fff;
        box-shadow: 4px 0px 12px rgba(0,0,0,0.06);
    }
    .table tbody td:nth-child(odd) {
        background: #ffffff; 
    }

    .table tbody td:nth-child(even) {
        background: #f8f9fa;  /* light stripe */
    }
    .table td {
        display: flex;
        align-items: center;      /* vertical center */
        border: none;
        font-size: 14px;
        height: 50px;
    }

    /* DESCRIPTION → top left */
    .table td:nth-child(2) {
        font-size: 16px;
        font-weight: 600;
    }

    /* ACTIONS → top right */
    .table td:nth-child(6) {
        position: absolute;
        vertical-align: middle;
        top: 0px;
        right: 15px;
        font-size: 18px;
    }

    /* Optional: make price/cost/category softer */
    .table td:nth-child(3),
    .table td:nth-child(4),
    .table td:nth-child(5) {
        color: #666;
    }

    /* Hide Sr column on mobile */
    .table td:nth-child(1) {
        display: none;
    }

 }